.toggle-button {
    width: 70px!important;
    height: 30px!important;
}

.toggle-button>div {
    height: 30px!important;
    width: 70px!important;
}

.toggle-button > div > div:first-child {
    width: 70px!important;
    height: 30px!important;
    font-size: 15px!important;
}

.toggle-button > div > div:first-child > div:first-child {
    font-size: 15px!important;
    width: 35px!important;
    left: 6px!important;
}
.toggle-button > div > div:first-child > div:nth-child(2) {
    font-size: 15px!important;
    width: 35px!important;
    padding-right: 10px!important;
}

.toggle-on > div:first-child > div:nth-child(2){
    left:12px!important;
}
.toggle-off > div:first-child > div:nth-child(2){
    left:7px!important;
}